@use './styles/tokens' as *;

$breakpoint: 640px;

.layout {
  display: flex;
  height: 100vh;
  padding-top: $header-height;
  background: $off-white;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}
